---
import Base from '../layouts/Base.astro';
---

<Base titre="Accueil">
    <h1 class="fixed capitalize text-blue-400 ml-20 text-4xl drop-shadow-md animate-spin">Accueil</h1> <!-- ou "Offres" pour la page des offres -->
</Base>
