---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';

---

<Base titre="Offres">
    <h1 class="fixed capitalize text-blue-400 ml-20 text-4xl drop-shadow-md animate-spin">Offres</h1> <!-- ou "Offres" pour la page des offres -->
</Base>
<Footer/>