---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
const offres = [
    {
        "adresse": "2821 Lake Sevilla, Palm Harbor, TX",
        "favori": true,
        "id": "64l3n8nar836i5j",
        "nbChambres": 4,
        "nbSdb": 2,
        "nomMaison": "Beverly Springfield",
        "prix": 2700,
        "surface": 45,
        "imgUrl": "image1.png"
    },
    {
        "adresse": "2699 Green Valley, Highland Lake",
        "favori": true,
        "id": "lo831zeg10hpm9y",
        "nbChambres": 4,
        "nbSdb": 2,
        "nomMaison": "Palm Harbor",
        "prix": 2095,
        "surface": 42,
        "imgUrl": "image2.png"
    },
    {
        "adresse": "909 Woodland St, Michigan, IN",
        "favori": false,
        "id": "s1zuhj19x8eb242",
        "nbChambres": 4,
        "nbSdb": 3,
        "nomMaison": "Faulkner Ave",
        "prix": 4550,
        "surface": 80,
        "imgUrl": "image3.png"
    }
]
---
    
<Base titre="Offres">
    <h1 class="capitalize text-blue-400 ml-20 text-4xl drop-shadow-md">Offres</h1> <!-- ou "Offres" pour la page des offres -->
</Base>



<div x-data="{ showFavorites: false }">
    <button class="px-8 z-30 py-4 bg-rose-400 rounded-md text-white relative font-semibold after:-z-20 after:absolute after:h-1 after:w-1 after:bg-rose-800 after:left-5 overflow-hidden after:bottom-0 after:translate-y-full after:rounded-md after:hover:scale-[300] after:hover:transition-all after:hover:duration-700 after:transition-all after:duration-700 transition-all duration-700 [text-shadow:3px_5px_2px_#be123c;] hover:[text-shadow:2px_2px_2px_#fda4af] text-2xl" @click="showFavorites = !showFavorites">
        <span x-show="!showFavorites">Afficher les favoris</span>
        <span x-show="showFavorites">Afficher tout</span>
    </button>

    <div x-show="!showFavorites">
        {offres.map((offre) => <Card {...offre} />)}
    </div>
    <div x-show="showFavorites">
        {offres.filter((offre) => offre.favori).map((offre) => <Card {...offre} />)}
    </div>
</div>
<Footer/>

