---
import Base from '../layouts/Base.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import { getOffres} from '../backend.mjs';

const offres = await getOffres();
console.log(offres);
---
    
<Base titre="Offres">
    <h1 class="capitalize text-blue-400 ml-20 text-4xl drop-shadow-md">Offres</h1> <!-- ou "Offres" pour la page des offres -->

    <div x-data="{ showFavorites: false, viewMode: 'grid' }">
        <!-- Bouton Favoris -->
        <button
          @click="showFavorites = !showFavorites"
          class="bg-fuchsia-100 text-black font-bold py-2 px-4 rounded-lg border-2 border-fuchsia-800 mx-5"
        >
          <span x-show="!showFavorites">Afficher les favoris</span>
          <span x-show="showFavorites">Afficher tout</span>
        </button>
    
        <!-- Boutons pour changer la vue -->
        <div class="flex space-x-4 my-5">
          <button
            @click="viewMode = 'grid'"
            :class="viewMode === 'grid' ? 'bg-blue-500 text-white' : 'bg-gray-200 text-black'"
            class="font-bold py-2 px-4 rounded-lg border-2 border-blue-800"
          >
            Vue Grille
          </button>
          <button
            @click="viewMode = 'list'"
            :class="viewMode === 'list' ? 'bg-blue-500 text-white' : 'bg-gray-200 text-black'"
            class="font-bold py-2 px-4 rounded-lg border-2 border-blue-800"
          >
            Vue Liste
          </button>
        </div>
    
        <!-- Conteneur avec affichage dynamique -->
        <div 
          x-show="!showFavorites" 
          :class="viewMode === 'grid' ? 'grid grid-cols-1 lg:grid-cols-3 gap-4' : 'flex flex-col space-y-4'"
        >
          {offres.map((offre) => <Card {...offre} />)}
        </div>
    
        <div 
          x-show="showFavorites" 
          :class="viewMode === 'grid' ? 'grid grid-cols-1 lg:grid-cols-3 gap-4' : 'flex flex-col space-y-4'"
        >
          {
            offres
              .filter((offre) => offre.favori)
              .map((offre) => <Card {...offre} />)
          }
        </div>
      </div>

</Base>
<Footer/>

