<footer class="fixed bottom-0">
<nav class="ml-6 rotate-45 mb-10">
    <a href="/">Accueil</a>
    <a href="offres">Offres</a>
</nav>
<hr/>
<p class="text-center text-white underline animate-bounce bg-blue-800">© 2025 Built with astro</p>
</footer>